# Port number
PORT=8080

# Base URL
BASE_URL=http://localhost:8080

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/node-boilerplate

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

TWITTER_KEY=nhcuRpq8wL4Q2QHPvEnx7AAb4aOH778
TWITTER_SECRET=JQHPvEnx7Aq8wL4Q2QHPvEnx7AAb4aOHq8wL4Q2QHPvEnx7A778hHEq8wL4Q2QHPvEnx7A

EMAIL_FROM=jaydattc@gmail.com
